# MongoDB local
MONGO_URI=mongodb://localhost:27017
MONGO_DB=taller4_db
MONGO_COLLECTION=raw_data

# Art Institute of Chicago API
API_URL=https://api.artic.edu/api/v1/artworks
TARGET_RECORDS=100
PAGE_SIZE=100
